<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>np.teamwork.project.search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>03C2DDF9-B972-43B8-9188-1E45B6C71909</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B62C4C9C-FC8F-4888-858B-E46A68BB8C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>043CA273-1906-4438-969C-BC980825E5C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDC776E4-4653-4E7D-8C65-72C0E35D0F6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>345FE8BF-5DA3-49D7-B38C-483948A882F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7FC764A-B427-4CED-A553-BCDC8E58DCB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B62C4C9C-FC8F-4888-858B-E46A68BB8C4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F0536F0-55E2-4517-8230-B94F27C88FA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDC776E4-4653-4E7D-8C65-72C0E35D0F6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EF26612-D0B0-4430-B258-703E8DD32FCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyrel Kelsey</string>
	<key>description</key>
	<string>Jump to projects from alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Teamwork Project Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>python tw.py --query "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Teamwork projects.</string>
				<key>title</key>
				<string>Teamwork</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>345FE8BF-5DA3-49D7-B38C-483948A882F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B7FC764A-B427-4CED-A553-BCDC8E58DCB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Gitlab url has been saved.</string>
				<key>title</key>
				<string>URL Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3EF26612-D0B0-4430-B258-703E8DD32FCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python tw.py --seturl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDC776E4-4653-4E7D-8C65-72C0E35D0F6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>teamwork seturl</string>
				<key>subtext</key>
				<string>teamwork seturl [https://...]</string>
				<key>text</key>
				<string>Set Teamwork URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>043CA273-1906-4438-969C-BC980825E5C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python tw.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B62C4C9C-FC8F-4888-858B-E46A68BB8C4C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>teamwork setkey</string>
				<key>subtext</key>
				<string>teamwork setkey [api key]</string>
				<key>text</key>
				<string>Set API Key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03C2DDF9-B972-43B8-9188-1E45B6C71909</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Gitlab API key has been set.</string>
				<key>title</key>
				<string>API Key Set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3F0536F0-55E2-4517-8230-B94F27C88FA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03C2DDF9-B972-43B8-9188-1E45B6C71909</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>043CA273-1906-4438-969C-BC980825E5C4</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>345FE8BF-5DA3-49D7-B38C-483948A882F0</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>3EF26612-D0B0-4430-B258-703E8DD32FCF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>3F0536F0-55E2-4517-8230-B94F27C88FA7</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>B62C4C9C-FC8F-4888-858B-E46A68BB8C4C</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>B7FC764A-B427-4CED-A553-BCDC8E58DCB5</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>FDC776E4-4653-4E7D-8C65-72C0E35D0F6D</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://ninnypants.com</string>
</dict>
</plist>
